{% extends "base.html" %}
{% load minicms %}

{% block content %}

    <section class="hero">
        <div class="hero-body">
            <div class="container" id="main_container">
                {% content_section "main" %}
            </div>
        </div>
    </section>

    <div class="container">
        <!-- Example row of columns -->
        <div class="columns">
            <div class="column" id="section_1_container">
                {% content_section 'col-1' %}
            </div>
            <div class="column" id="section_2_container">
                {% content_section 'col-2' %}
            </div>
            <div class="column" id="section_3_container">
                {% content_section 'col-3' %}
            </div>
        </div>
    </div>

{% endblock content %}
