{% extends "base.html" %}
{% load minicms %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        section:nth-child(odd) {
            background: #f4f4f4;
        }
    </style>
{% endblock css %}

{% block content %}
    <section id="main_container">
        {% content_section 'main' %}
    </section>
    <section id="second_section_container">
        {% content_section 'second' %}
    </section>
    <section id="third_section_container">
        {% content_section 'third' %}
    </section>
{% endblock content %}
